        <!DOCTYPE html>
        <html lang="fr">
        <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Recommandation</title>
          <style>
             @import url(https://fonts.googleapis.com/css?family=Bebas+Neue);
                *,
                *:before,
                *:after {
                  -moz-box-sizing: border-box;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                }

                html, body {
                  background: #f1f1f1;
                  font-family: 'Bebas Neue', sans-serif;
                  padding: 1em;
                  font-size: 30px;
                  /*display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 80vh; /* Assure que le corps occupe la hauteur complète de la vue (viewport) */
                  margin: 0;*/
                }
                .choix-1, .choix-2,.choix-3 {
                  max-width: 300px;
                  text-align: center;
                  margin: -60px auto;

                  }
                .choix-2,.choix-3, .chargement {
                  display : none;
                }
                .choix-1 h1,.choix-2 h1,.choix-3 h1 {
                  display: flex;
                  align-items: center;
                  text-align: center;
                  color: #a8a8a8;/* #a8a8a8  ;434343*/
                  justify-content: center;
                }
                .choix-1 .emoji,.choix-2 .emoji,.choix-3 .emoji {
                  margin-right: 5px;
                  text-align: center;
                  font-size : 30px;
                }
                .choix-1 .emojib {
                  margin: 5px 5px;
                  text-align: center;
                  font-size : 20px;
                }
                .choix-1 .titre,.choix-2 .titre,.choix-3 .titre{
                  text-shadow: 0px 3px 0 #6D6D6D;/*6D6D6D  ;white*/
                  font-size : 40px;
                }
                .choix-1 input,.choix-2 input, .choix-1 button,.choix-2 button,.choix-3 input,.choix-3 button{
                  border: 0;
                  outline: 0;
                  padding: 1em;
                  -moz-border-radius: 8px;
                  -webkit-border-radius: 8px;
                  border-radius: 8px;
                  display: block;
                  width: 100%;
                  margin-top: 1em;
                  font-family: 'Bebas Neue', sans-serif;
                  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                  resize: none;

                }
                .choix-1 button,.choix-2 button,.choix-3 button {
                  color: white;
                  background: #e74c3c;
                  cursor: pointer; 
                  height : 40px;
                  text-align: center;
                  appearance: none;
                }

                .choix-1 button:hover,.choix-2 button:hover,.choix-3 button:hover {
                  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
                  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
                  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
                }

                .choix-1 .new_playlist_input
                {
                  margin-top :13.34px;
                  float: left;
                  width : 78%;
                  font-size : 20px;
                  height : 50px;
                  appearance: none;
                  margin-bottom : 20px;
                }
            .choix-2 .new_song_input,.choix-3 .new_song_input
                {
                  margin-top :20px;
                  width : 100%;
                  font-size : 20px;
                  height : 50px;
                  appearance: none;
                  margin-bottom : 20px;
                }

                .choix-1 .new_playlist_btn
                {
                  width : 20%;
                  float: right;
                  height : 50px;
                  background-color : #E6766B;
                  margin-bottom : 22px;

                }
            .choix-1 #button-ecoute
                {
                    font-size : 25px;
                     line-height: 0px;
                    background-color : white;
                    color : #a8a8a8;
                }
            .choix- #button-ecoute
                {
                    font-size : 25px;
                     line-height: 5px;
                    background-color : white;
                    color : #a8a8a8;
                }

                .choix-2 #button-play,.choix-3 #button-play
                {
                    font-size : 25px;
                    line-height: 5px;
                }

                .choix-1 .text-btn
                {
                  font-size : 25px;

                }
                .choix-1 .separation-texte,.choix-2 .separation-texte{
                  font-size : 15px;
                  color: #a8a8a8;
                  text-align : center;
                  margin-top : 20px;

                }
                .choix-1 .title-texte,.choix-2 .title-texte,.choix-3 .title-texte
                {
                  font-size : 25px;
                  color: #6D6D6D;
                  text-align : left;
                  margin-top : 15px;
                  margin-bottom : -10px;
                }
                .choix-1 .playlist-choix
                {
                  margin-top : 12px;
                  overflow: auto;
                  height : 260px;
                }
                .choix-1 .playlist-elem-titre
                                {
                                  margin-top : -22px;
                                  background: transparent;
                                  cursor: pointer; 
                                  height : 20px;
                                  appearance: none;
                                  border-radius: 8px;
                                }
                .choix-1 .playlist-elem-titre p
                                {
                                  font-size : 15px;
                                  color: #C8C8C8;
                                  text-align : left;
                                  line-height : 30px; 
                                  margin-left : 3px;
                                  margin-top : 25px;
                                }
            
                .choix-2 .coche,.choix-3 .coche
                {
                   background: #ACC582 !important;
                }
                .choix-2 .coche p,.choix-2 .coche h4,.choix-3 .coche p,.choix-3 .coche h4
                {

                  color: white !important;

                }
            
            .choix-2 .playlist-choix,.choix-3 .playlist-choix
            {
                  margin-top : 20px;
                    overflow: auto;
                  height : 220px;
                }
                .choix-1 .playlist-elem
                {
                  margin-top : -17px;
                  background: white;
                  cursor: pointer; 
                  height : 50px;
                  appearance: none;
                  border-radius: 8px;
                }
            .choix-2 .playlist-elem,.choix-3 .playlist-elem
                {
                  margin-top : -22px;
                  background: white;
                  cursor: pointer; 
                  height : 50px;
                  appearance: none;
                  border-radius: 8px;
                }
            .choix-2 .playlist-elem h4 ,.choix-3 .playlist-elem h4 
            {
                  font-size : 20px;
                  color: #a8a8a8;
                  text-align : left;
                  line-height : 45px; /* Aligne le contenu verticalement */
                  margin-left : 50px;
                  font-weight : bold;
            }
                .choix-2 .playlist-elem p,.choix-3 .playlist-elem p
                {
                  font-size : 13px;
                  color: #a8a8a8;
                  text-align : left;
                  /*line-height : -20px; /* Aligne le contenu verticalement */
                  margin-left : 50px;
                  margin-top : -43px;
                }
                .choix-1 .playlist-elem p
                {
                  font-size : 20px;
                  color: #a8a8a8;
                  text-align : left;
                  line-height : 50px; /* Aligne le contenu verticalement */
                  margin-left : 50px;

                }
                .choix-1 .playlist-elem img,.choix-2 .playlist-elem img,.choix-3 .playlist-elem img 
                {
                  margin-top: 5px;
                  margin-left : 5px;
                  float : left;
                  width : 40px;
                  height : 40px;
                  border-radius: 8px;
                }

            
            .chargement{
                
                /*display: flex;*/
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100vh;
                margin: 0;

                text-align: center;
                font-size: 24px;
                margin-bottom: 0px;
                color: #6D6D6D;
            }


                .cf:before,
                .cf:after {
                  content: " ";
                  /* 1 */
                  display: table;
                  /* 2 */
                }
                .cf:after {
                  clear: both;
                }




          </style>
        </head>
        <body> 
        <div class= "recommandation">

          <div class="chargement">
            <div class="texte">---</div>


            <div class="loader loader--style1" title="0">
          <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
          <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
            s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
            c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
          <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
            C22.32,8.481,24.301,9.057,26.013,10.047z">
            <animateTransform attributeType="xml"
              attributeName="transform"
              type="rotate"
              from="0 20 20"
              to="360 20 20"
              dur="0.5s"
              repeatCount="indefinite"/>
            </path>
          </svg>
          </div>
            <!--<img id="image" src="https://mikael.neocities.org/collections/disc-gifs/cd_011.gif" alt="Image tournante">-->

          </div>


          
          <!-- choix-2 : a partir d'un son ou de la playlist -->
          <% if(connecte_musique) { %>
          <div class="choix-1">
            <h1><span class="emoji">🎺
        </span><div class="titre">Recommandation</div><span class="emoji">🎸
        </span></h1>
            <div class ="title-texte">
              ✨Playlists existantes :
              </div>
            <div class="playlist-choix">
              <% if(playlists_historique.length > 0) { %>

                <div class="playlist-elem-titre" >
                <p>Historique :</p></div>
                
              <% for (let playlist of playlists_historique) { %>
                <div class="playlist-elem" id="<%= playlist.id %>"  onclick='choix_playlist("<%= playlist.id %>","<%= playlist.name %>")' >
              <img src = "<%= playlist.pic[0]%>" />
              <p><%= playlist.name %></p>
                </div>
                <% }%>

                  <div class="playlist-elem-titre" >
                  <p>Bibliothèque :</p></div>
                
                <% }%>

              <% for (let playlist of playlists_bibliotheque) { %>
                <div class="playlist-elem" id="<%= playlist.id %>"  onclick='choix_playlist("<%= playlist.id %>","<%= playlist.name %>")' >
              <img src = "<%= playlist.pic[0]%>" />
              <p><%= playlist.name %></p>
                </div>
                <% } %>
                  <!-- -->
                  
              </div>

            <div class="separation-texte"> Ou </div>
            
    
            <div>
              <div class ="title-texte">
              🪄Nouvelle playlist :
              </div>
            <input class="new_playlist_input"  placeholder="Nom..." required />
          <button class= "new_playlist_btn" type="submit" name="" onclick="choix_2()"><div class="text-btn">Go</div></button> 
          </div>

            <div class="separation-texte"> Ou </div> 



            <button id="button-ecoute" onclick="choix_3()"><span class="emojib">🎧</span>Ecoute seule<span class="emojib">🎧</span></button>

          </div>
          <% } %>
          <div class = "choix-2">
            <h1><span class="emoji">🎺
        </span><div class="titre">Recommandation</div><span class="emoji">🎸
        </span></h1>

             <button id="button-play"><span class="emojib">🎧</span>A partir de la playlist<span class="emojib">🎧</span></button>


            <div class="separation-texte"> Ou </div>
            <div class ="title-texte">
              🪄A partir de son : (/)
              </div>
            <input class="new_song_input"  placeholder="Nom..." required />


            <div class ="title-texte">

              </div>
            <div class="playlist-choix">
          
            </div>
            <button id="button-play" class="selection-btn" ><span class="emojib">🎧</span>Lancer<span class="emojib">🎧</span></button>

          </div>
          <div class = "choix-3">
            <h1><span class="emoji">🎺
        </span><div class="titre">Recommandation</div><span class="emoji">🎸
        </span></h1>


            <div class ="title-texte">
              🪄A partir de son : (/)
              </div>
            <input class="new_song_input"  placeholder="Nom..." required />


            <div class ="title-texte">

              </div>
            <div class="playlist-choix">
            </div>
            <button id="button-play" class="selection-btn" ><span class="emojib">🎧</span>Lancer<span class="emojib">🎧</span></button>

          </div>


        </div>
            <script>
              
              let playlist_id = '-1'
              let liste_son_seed_reco = [] //choix de la recherche
              let liste_son_seed_reco_playlist = [] // seed de la playlist
              let max_nb_son = 3
              
              
              if(!<%= connecte_musique %>)
              {
                document.getElementsByClassName("choix-3")[0].style.display = 'block'
              }

              function choix_2() //création playlist
              {
                const b1 = document.querySelector(".choix-3 .selection-btn")
                b1.style.backgroundColor = 'white';
                b1.style.color = '#a8a8a8';
                let new_playlist_name = document.querySelector(".choix-1 .new_playlist_input").value
                document.querySelector(".choix-3 .title-texte").innerHTML =  `🪄A partir de son : (0/${max_nb_son})`
                if(new_playlist_name == '')
                {
                  alert("Nom de playlist non vide")
                  return
                }
                document.getElementsByClassName("choix-1")[0].style.display = 'none'
                document.querySelector(".chargement .texte").innerHTML = 'Création de ta jolie playlist'
                document.getElementsByClassName("chargement")[0].style.display = 'flex'
                
                fetch(`<%= SERVER_URL %>/api/creer_playlist?playlist_name=${new_playlist_name}`)
                  .then(response => response.json())
                  .then(data => {
                    // Mettre à jour le résultat avec la réponse de l'API
                    if(data == -1 && data == 0)
                    {
                      alert("Erreur de connexion a l'API : creation de playlist (dis le a nahel)")
                      return;
                    }
                    playlist_id = data
                    
                    document.getElementsByClassName("chargement")[0].style.display = 'none'
                    document.getElementsByClassName("choix-3")[0].style.display = 'block'
                    document.querySelector(".choix-3 h1 .titre").innerText = `recommandation pour "${new_playlist_name}"`
                    fetch(`<%= SERVER_URL %>/api/add_id_playlist_historique?playlist_id=${playlist_id}`)
                      .then(response =>{return response.json()})
                      .then(data => {

                        if (data == -1) {
                          console.log("la playlist n'a pas pu etre ajoutée à l'historique")
                        }
                      }
                        )
                   
                  })
                  .catch(error => {
                    console.error('Erreur lors de l\'appel à l\'API:', error);
                  });
              }
              function choix_3() // ecoute seule
              {
                const b2 = document.querySelector(".choix-3 .selection-btn")
                b2.style.backgroundColor = 'white';
                b2.style.color = '#a8a8a8';
                
                document.querySelector(".choix-3 .title-texte").innerHTML =  `🪄A partir de son : (0/${max_nb_son})`
                document.getElementsByClassName("chargement")[0].style.display = 'none'
                document.getElementsByClassName("choix-1")[0].style.display = 'none'
                document.getElementsByClassName("choix-3")[0].style.display = 'block'
              }
              function choix_playlist(id,name) //choix d'une playlist
              {

                document.getElementsByClassName("choix-1")[0].style.display = 'none'
                document.querySelector(".chargement .texte").innerHTML = 'Analyse de ta jolie playlist'
                document.getElementsByClassName("chargement")[0].style.display = 'flex'

                fetch(`<%= SERVER_URL %>/api/add_id_playlist_historique?playlist_id=${id}`)
                  .then(response =>{return response.json()})
                  .then(data => {

                    if (data == -1) {
                      console.log("la playlist n'a pas pu etre ajoutée à l'historique")
                    }
                  }
                    )
                
                fetch(`<%= SERVER_URL %>/api/get_playlist_tracks_id?playlist_id=${id}`)
                .then(response =>{return response.json()})
                .then(data => {
                  
                  if (data.length<1) {
                    playlist_id = id
                    choix_3()
                    return;
                  } else  {
                    liste_son_seed_reco_playlist = data
                const b1 = document.querySelector(".choix-2 .selection-btn")
                b1.style.backgroundColor = 'white';
                b1.style.color = '#a8a8a8';
                playlist_id = id
                document.querySelector(".choix-2 .title-texte").innerHTML =  `🪄A partir de son : (0/${max_nb_son})`
                
                document.getElementsByClassName("chargement")[0].style.display = 'none'
                document.getElementsByClassName("choix-2")[0].style.display = 'block'
                    
                document.querySelector(".choix-2 h1 .titre").innerText = `recommandation pour "${name}"`
                console.log(playlist_id)
                  }})
                }
              

              let timerId;

              

              function handleInputEvent(inputElementSelector) {

                
                const inputElement = document.querySelector(`.${inputElementSelector} .new_song_input`);

                inputElement.addEventListener('input', function () {
                  const valeurInput = this.value;

                  if (valeurInput === "") {
                    const divPlaylist = document.querySelector(`.${inputElementSelector} .playlist-choix`);
                    divPlaylist.innerHTML = '';
                    return;
                  }

                  clearTimeout(timerId);
                  timerId = setTimeout(() => {
                    fetch(`<%= SERVER_URL %>/api/recherche?song_name=${valeurInput}&offset=0&limit=5`)
                      .then(response => response.json())
                      .then(data => {
                        if (data == -1) {
                          const divPlaylist = document.querySelector(`.${inputElementSelector} .new_song_input`);
                          divPlaylist.innerHTML = '';
                          return;
                        } else if (data == 0) {
                          alert("Erreur de connexion à l'API (dis-le à Nahel)");
                          return;
                        }
                        refreshRecherche(`.${inputElementSelector} .playlist-choix`, data,this.value);
                      })
                      .catch(error => {
                        console.error('Erreur lors de l\'appel à l\'API:', error);
                      });
                  }, 500);
                });
              }

              handleInputEvent("choix-2")
              handleInputEvent("choix-3")
              
              function refreshRecherche(queryselect,listeDictionnaires,current_val_input) {
                const divPlaylist = document.querySelector(queryselect);
                const input = document.querySelector(queryselect)
                divPlaylist.innerHTML = '';


                if (divPlaylist && current_val_input != ""  ) {
                  listeDictionnaires.forEach((element) => {
                    const nouvelElem = document.createElement('div');
                    
                    if (liste_son_seed_reco.includes(element.id)) {
                      nouvelElem.classList.add('coche');    
                    } 
                    
                    nouvelElem.onclick = function() {
                      
                        
                        if (liste_son_seed_reco.includes(element.id)) {
                            this.classList.toggle('coche');
                            liste_son_seed_reco = liste_son_seed_reco.filter(item => item !== element.id);
                        } else if(liste_son_seed_reco.length < max_nb_son) {
                            this.classList.toggle('coche');
                            liste_son_seed_reco.push(element.id);
                        }
                        document.querySelector(".choix-2 .title-texte").innerHTML =  `🪄A partir de son : (${liste_son_seed_reco.length}/${max_nb_son})`
                        document.querySelector(".choix-3 .title-texte").innerHTML =  `🪄A partir de son : (${liste_son_seed_reco.length}/${max_nb_son})`
                      const b1 = document.querySelector(".choix-2 .selection-btn")
                      const b2 = document.querySelector(".choix-3 .selection-btn")
                      if(liste_son_seed_reco.length > 0)
                      {
                        b1.style.backgroundColor = '#e74c3c';
                        b1.style.color = 'white';
                        b2.style.backgroundColor = '#e74c3c';
                        b2.style.color = 'white';
                      }
                      else
                      {
                        b1.style.backgroundColor = 'white';
                        b1.style.color = '#a8a8a8';
                        b2.style.backgroundColor = 'white';
                        b2.style.color = '#a8a8a8';
                      }
                    };
                    
                    nouvelElem.classList.add('playlist-elem');
                    nouvelElem.id = element.id;

                    const imgElem = document.createElement('img');
                    imgElem.src = element.image_urls[0];

                    const titreElem = document.createElement('h4');
                    titreElem.textContent = element.titre.length > 28 ? element.titre.substring(0, 28) + '...' : element.titre;
                      


                    const artisteElem = document.createElement('p');
                    artisteElem.textContent = element.artiste.length > 30 ? element.artiste.substring(0, 30) + '...' : element.artiste;
                    
                    nouvelElem.appendChild(imgElem);
                    nouvelElem.appendChild(titreElem);
                    nouvelElem.appendChild(artisteElem);

                    divPlaylist.appendChild(nouvelElem);
                  });
                } else {
                  console.error("La div "+ queryselect + " n\'a pas été trouvée.");
                }
              }


              function updateValue(e) {
                console.log(e.target.value)
              }

              function startRecommandation(liste) {

                  if(liste.length == 0){alert("choisis au moins un son"); return}
                  // Créer un formulaire dynamique
                  var form = document.createElement('form');
                  form.method = 'POST';
                  form.action = '/recommandation';

                  // Ajouter les champs au formulaire
                  var input1 = document.createElement('input');
                  input1.type = 'hidden';
                  input1.name = 'liste_son_seed_reco';
                  input1.value = JSON.stringify(liste);
                  form.appendChild(input1);

                  var input2 = document.createElement('input');
                  input2.type = 'hidden';
                  input2.name = 'playlist_id';
                  input2.value = playlist_id;
                  form.appendChild(input2);

                  // Ajouter le formulaire à la page et le soumettre
                  document.body.appendChild(form);
                  form.submit();
              }

              // Utilisation de la fonction avec des valeurs spécifiques

              document.querySelector(".choix-2 .selection-btn").addEventListener('click',function () {startRecommandation(liste_son_seed_reco)})
              document.querySelector(".choix-3 .selection-btn").addEventListener('click', function () {startRecommandation(liste_son_seed_reco)})
              document.querySelector(".choix-2 #button-play").addEventListener('click',function () {startRecommandation(liste_son_seed_reco_playlist)})
              
              
            </script>
        </body>
        </html>